# Игнорируем исполняемые файлы
*.exe
*.obj

# Игнорируем папку с настройками VS Code
.vscode/

# Игнорируем папку Visual Studio
.vs/

# Игнорируем системные файлы Visual Studio
*.user
*.log
*.suo
*.pdb

# Игнорируем папку сборки
/x64/